import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import base64
from io import BytesIO
from scipy.cluster.hierarchy import dendrogram

def plot_interactive_pca(tfidf_matrix, labels):
    pca = PCA(n_components=2)
    coords = pca.fit_transform(tfidf_matrix)

    plt.figure(figsize=(6, 5))
    scatter = plt.scatter(coords[:, 0], coords[:, 1], c=labels, cmap='tab10')
    plt.title('PCA Visualization')
    plt.xlabel('Component 1')
    plt.ylabel('Component 2')

    buffer = BytesIO()
    plt.savefig(buffer, format='png')
    plt.close()
    buffer.seek(0)
    image_png = buffer.getvalue()
    buffer.close()

    return base64.b64encode(image_png).decode('utf-8')

def plot_dendrogram(Z):
    plt.figure(figsize=(6, 5))
    dendrogram(Z)
    plt.title("Hierarchical Clustering Dendrogram")
    plt.xlabel("Samples")
    plt.ylabel("Distance")

    buffer = BytesIO()
    plt.savefig(buffer, format='png')
    plt.close()
    buffer.seek(0)
    image_png = buffer.getvalue()
    buffer.close()

    return base64.b64encode(image_png).decode('utf-8')
